* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

input,
button {
  min-width: 300px;
  min-height: 40px;
  padding: 1rem 2rem;
  display: inline-block;
  font-size: 1.5rem;
}

#message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2em;
}

.info {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: red;
}
